/*
 * Colours:
 * Bright blue: #01b1ec
 */


body header {
    width:780px;
    height:100px;
    margin:0 auto;
}
header #masthead {
    float:left;
    margin-top:8px;
    width:220px;
    height:76px;
    background:url('/i/logo.png') no-repeat 0 0;
    text-indent:-9999px;
    font-size:1px;
}
header nav {
    margin-left:350px;
    padding-top:10px;
    font-size:1.2em;
}
header nav a:link,
header nav a:visited {
    width:200px;
    float:left;
    text-transform:uppercase;
    text-decoration:none;
    color:#444;
    letter-spacing:2px;
    font-size:0.8em;
    line-height:2em;
}
header nav a:hover,
header nav a:active {
    color:#01b1ec;
}


#intro {
    background-color:#01b1ec;
    font-size:1.9em;
}
#intro .wrapper {
    width:780px;
    height:233px;
    margin:0 auto;
}
#intro h2 {
    float:left;
    width:400px;
    margin:25px 0;
    color:white;
    font-size:1.3em;
    font-weight:normal;
}
#intro p {
    float:left;
    width:400px;
    color:white;
}
#intro img {
    margin:10px 0;
    border:5px solid white;
}

#content {
    width:780px;
    margin:0 auto;
    padding-top:15px;
}
#content h1 {
    margin:20px 0;
    font-size:1.6em;
}
#content h2 {
    font-size:1.3em;
}
#content p {
    margin: 15px 0;
    font-size:1.2em;
}
#content p.testimonial {
    font-style:italic;
}

body footer {
    width:780px;
    margin:25px auto;
    padding-top:25px;
    border-top: 1px dashed #666;
}
footer p {
    text-align:center;
    font-size:1.2em;
}
