header {
    background-color:#01b1ec;
}
header .wrapper {
    width:780px;
    height:170px;
    margin:0 auto;
    padding-top:20px;
}
header #masthead {
    float:left;
    width:300px;
    height:126px;
    background:url('/i/logo.png') no-repeat 0 0;
    text-indent:-9999px;
    font-size:1px;
}
header p {
    float:right;
    font-size:1.8em;
    color:white;
    line-height:1.6em;
}
header a:link, header a:visited {
    color:white;
    text-decoration:none;
}
header a:hover, header a:active {
    color:white;
    text-decoration:underline;
}

#content {
    width:780px;
    margin:0 auto;
    padding-top:15px;
}
#content h1 {
    margin:20px 0;
    font-size:1.6em;
}
#content h2 {
    font-size:1.3em;
}
#content p {
    margin: 15px 0;
    font-size:1.2em;
}
body footer {
    width:780px;
    margin:25px auto;
    padding-top:25px;
    border-top: 1px dashed #666;
}
footer p {
    text-align:center;
    font-size:1.2em;
}
