/*
 * Colours:
 * Bright blue: #01b1ec
 */


body header {
    width:780px;
    height:100px;
    margin:0 auto;
}
header #masthead {
    float:left;
    margin-top:8px;
    width:220px;
    height:76px;
    background:url('/i/logo.png') no-repeat 0 0;
    text-indent:-9999px;
    font-size:1px;
}
header nav {
    margin-left:480px;
    padding-top:10px;
    font-size:1.2em;
}
header nav a:link,
header nav a:visited {
    min-width:115px;
    float:left;
    text-transform:uppercase;
    text-decoration:none;
    color:#444;
    font-size:0.8em;
    line-height:2em;
}
header nav a:hover,
header nav a:active {
    text-decoration:underline;
}
header nav a.current {
    color:#01b1ec;
}


#intro {
    background-color:#01b1ec;
    font-size:1.9em;
    box-shadow:
        inset 0 30px 30px -10px rgba(0,0,0,0.2),
        inset 0 -30px 30px -10px rgba(0,0,0,0.2);
    -webkit-box-shadow:
        inset 0 30px 30px -10px rgba(0,0,0,0.2),
        inset 0 -30px 30px -10px rgba(0,0,0,0.2);
}
#intro .wrapper {
    width:780px;
    height:233px;
    margin:0 auto;
    position:relative;
}
#intro h2 {
    float:left;
    width:420px;
    margin:25px 0;
    color:white;
    font-size:1.45em;
    font-weight:normal;
}
#intro p {
    float:left;
    width:420px;
    color:white;
}
#intro img {
    position:absolute;
    top:10px;
    right:0;
    border:5px solid white;
}

#content {
    width:780px;
    margin:0 auto;
    padding-top:15px;
    line-height:1.8em;
    font-size:1.2em;
}
#content h1 {
    margin:20px 0;
    font-size:1.4em;
}
#content h2 {
    margin:15px 0;
    font-size:1.3em;
}
#content h3 {
    margin:10px 0;
    font-size:1.1em;
}
#content p {
    margin: 15px 0;
}
#content p.testimonial {
    font-style:italic;
}
#content img {
    display:block;
    margin:20px auto;
    border:1px solid #444;
}
#content #welcome {
    width:460px;
    float:left;
}
#content #side-col {
    width:300px;
    float:right;
    margin-top:20px;
}

img#emi {
    float:right;
    margin:8px 0 0 8px;
}

body footer {
    clear:both;
    width:740px;
    margin:25px auto;
    padding:25px 20px 0;
    border-top: 1px dashed #666;
}
footer nav {
    margin-top:20px;
    text-align:center;
}
footer nav a {
    padding-left:10px;
}
footer p {
    margin:20px 0;
}

footer fieldset {
    border:1px solid #ccc;
    border-radius:5px;
    padding:20px;
}
footer legend {
    padding:0 3px;
}
footer form {
    position:relative;
}
footer #hide-contact {
    position:absolute;
    top:9px;
    right:5px;
    text-decoration:none;
}
footer form div {
    float:right;
    width:335px;
}
footer form div.first {
    float:left;
    padding-right:10px;
}
footer input[type=text] {
    width:335px;
    border:1px solid #ccc;
}
footer label {
    width:335px;
    display:block;
    padding-top:10px;
}
footer textarea#courses {
    border:1px solid #ccc;
    width:335px;
    height:100px;
}
footer textarea#message {
    border:1px solid #ccc;
    width:335px;
    height:160px;
}
footer input#submit {
    width:150px;
    position:absolute;
    bottom:15px;
    right:15px;
}
footer .empty {
    background-color:#fff39c;
}
footer #required_error,
footer #unexpected_error,
footer #success {
    width:360px;
    margin:20px auto 10px;
    padding:15px;
    text-align:center;
    background-color:#fff39c;
    border-radius:4px;
}
footer #success {
    width:460px;
    background-color:#b1fa98;
}
footer #throbber {
    position:absolute;
    right:70px;
    bottom:10px;
}


footer #copyright {
    margin-top:20px;
    text-align:center;
}
