{% extends "base.html" %}
{% block content %}
<h1>About Kudos</h1>
<h2>Vision / Mission</h2>
<p>Communication is the most vital skill required for delivering messages, opinions and ideas. Without this skill, business and personal relationships are not able initiate and grow. To be able to communicate effectively, fluent and accurate knowledge of English is essential. Thus, it is my mission to cater to the needs and expectations of everyone I teach, and to guide them to mastery of the English language.</p>
<h2>Company Profile</h2>
<p>Kudos English Learning is a training company that caters for a wide range of services related to the English language, specialising in providing general English and communication skills courses to corporate clients. Kudos is capable of bringing a high quality of service to any task undertaken. When it comes to training packages, fully planned courses are taught to your staff in a professional manner.</p>
<p>In its short time in business Kudos has already managed to complete several projects with great success. Working with the <a href="http://www.shrdc.org.my/">Selangor Human Resource Development Centre</a>, Kudos has completed training courses in English skills at several technology and industrial companies nation-wide.</p>
<p>If you choose to work with Kudos for any of your English language needs, you will be working exclusively with a talented trainer who learned her craft abroad in English speaking countries. Every project Kudos completes will be done to excellent levels of language quality, and will lift the reputation of your business or organisation to new levels.</p>
{% endblock %}
