<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Kudos English Learning{% endblock %}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/html5-boilerplate/css/style.css">
        <link rel="shortcut icon" href="/favicon.ico">

        <!--[if IE]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <a name="top"></a>
        <header>
            <a id="masthead" href="/">Kudos English Learning</a>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/trainers-profile">Trainer's&nbsp;Profile</a>
                <a href="/training-programmes">Training&nbsp;Programmes</a>
                <a href="/photos">Photos</a>
                <a href="/testimonials">Testimonials</a>
            </nav>
        </header>

        <div id="intro">
            <div class="wrapper">
                <h2>Improve your English.</h2>
                <p>English language courses for individuals, groups and companies in Malaysia.</p>
                <img src="i/philips.jpg" width="350" height="203" alt="Emi with students." title="Emi with students from Philips Lumileds, Penang."/>
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
            <p><a href="#top">Back to top.</a></p>
        </div>

        <footer>
            <a name="contact"></a>
            <p><strong>Contact Details</strong>: Emiliza Ahmad | +60173708774 | <a href="mailto:emi@kudosenglishlearning.com">emi@kudosenglishlearning.com</a></p>
        </footer>
    </body>
</html>
