{% extends "base.html" %}
{% block content %}
<h1>Clients</h1>
<p>In her short length of time is business, Emi has provided training to many companies throughout Malaysia. Details of courses given and photos from training sessions are shown below.</p>
<h2>SHRDC</h2>
<p>Emi has a long working relationship with the <a href="http://shrdc.org.my" title="Selangor Human Resource Development Centre">SHRDC</a>, a training company who offer a wide range of courses to a wide range of organisations. Some clients she has worked with through this arrangement are:</p>
<h3><a href="http://www.balda.com.my">BALDA Solutions</a></h3>
<p>Course provided: SURE Programme, Levels 1 and 2.</p>
<img width="600" height="450" src="/i/balda_01.jpg" alt="BALDA" title="Emi with BALDA group."/>
<h3><a href="http://www.philipslumileds.com">Philips Lumileds</a></h3>
<p>Course provided: SURE Programme.</p>
<img width="600" height="450" src="/i/philips_lumileds_01.jpg" alt="philips lumileds 01" title="at Philips Lumileds"/>
<img width="600" height="450" src="/i/philips_lumileds_02.jpg" alt="philips lumileds 02" title="at Philips Lumileds"/>
<h3>Advanced Diploma Courses</h3>
<p>Emi also had the chance to teach Advanced Diploma courses to some SHRDC clients.</p>
<img width="600" height="450" src="/i/shrdc_01.jpg" alt="SHRDC 01" title="SHRDC students working hard."/>
<img width="600" height="450" src="/i/shrdc_02.jpg" alt="SHRDC 02" title="SHRDC students working hard."/>
<h2>Wellbloom Enterprise</h2>
<p>Kudos gave its two-hour Intensive Communicative English course to students from Wellbloom Enterprise:</p>
<img width="600" height="450" src="/i/wellbloom_01.jpg" alt="Wellbloom 1" title="Emi addressing the entire group."/>
<img width="600" height="450" src="/i/wellbloom_02.jpg" alt="Wellbloom 2" title="Discussing the lesson with students."/>
{% endblock %}
