{% extends "base.html" %}
{% block content %}
    <h1>Welcome to Kudos English Learning.</h1>
    <p>Kudos English Learning is a training company that provides English courses in Malaysia. Our <a href="/training-programmes">training programmes page</a> paints a full picture of what we offer, although we're also often able to tailor a course to the specific needs of your organisation.</p>
    <p>We're based in the Klang Valley, but are willing to travel nation-wide to work on-site with you if such an arrangement is feasable.</p>
    <p>If you'd like to get in touch to discuss how we can help your organisation feel free to use any of the contact methods listed below in the footer.</p>
    <p>Happy Learning!</p>
    <p><a href="/trainers-profile">Emi</a>, Kudos English Learning.</p>
{% endblock %}
