{% extends "base.html" %}
{% block content %}
    <h1>English Language Courses in Malaysia</h1>
    <p>Kudos English Learning is a training company that offers English courses to Malaysian companies. We're still in the process of getting set up, but soon this site will outline the range of services we provide.</p>
    <p>In the mean-time, if you'd like to get in touch feel free to use any of the methods listed above in the header.</p>
    <p>Happy Learning!</p>
    <p>Emi, Kudos English Learning.</p>
{% endblock %}
