{% extends "base.html" %}
{% block content %}
    <div id="welcome">
        <h1>Welcome to Kudos English Learning.</h1>
        <p>Kudos English Learning is a training company that provides English courses in Malaysia. Our <a href="/training-programmes">training programmes page</a> paints a full picture of what we offer, although we're also often able to tailor a course to the specific needs of your organisation.</p>
        <p>We're based in the Klang Valley, but are willing to travel nation-wide to work on-site with you if such an arrangement is feasible.</p>
        <p>If you'd like to get in touch to discuss how we can help your organisation feel free to use any of the contact methods listed below in the footer.</p>
        <p>Happy Learning!</p>
        <p><a href="/trainers-profile">Emi</a>, Kudos English Learning.</p>
    </div>
    <div id="side-col">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-like-box" data-href="http://www.facebook.com/pages/Kudos-English-Learning/175629745827728" data-width="300" data-show-faces="true" data-stream="false" data-header="true"></div>
    </div>
{% endblock %}
