{% extends "base.html" %}
{% block content %}
<h1>Photos</h1>
<p>The photos below show trainees in action during some of the courses we've taught.</p>
<h2>Texas Instruments (Advanced Diploma):</h2>
<img width="600" height="450" src="/i/texas_instruments_01.jpg" alt="texas instruments 01" title="Working hard at Texus Instruments"/>
<img width="600" height="450" src="/i/texas_instruments_02.jpg" alt="texas instruments 02" title="Working hard at Texus Instruments"/>
<h2>Philips Lumileds:</h2>
<img width="600" height="450" src="/i/philips_lumileds_01.jpg" alt="philips lumileds 01" title="at Philips Lumileds"/>
<img width="600" height="450" src="/i/philips_lumileds_02.jpg" alt="philips lumileds 02" title="at Philips Lumileds"/>
<img width="600" height="450" src="/i/philips_lumileds_03.jpg" alt="philips lumileds 03" title="at Philips Lumileds"/>
{% endblock %}
