{% extends "base.html" %}
{% block content %}
<h1>Testimonials</h1>
<p class="testimonial">&ldquo;I gained a lot of knowledge and skills such as writing, reading, listening as well as speaking through the English Advanced Diploma Training. I would like to take this opportunity to thank Emiliza for her outstanding teaching knowledge and hard work that had significantly improved my understanding of English language. I have learned how to do scanning and skimming for reading skills and been exposed to guessing skill to increase my vocabulary level. It was a good experience for me to do all the exercises which related to above learning skills&rdquo;.</p>
<p>EY Gan (Advanced Diploma Student from Texas Instruments).</p>
<p class="testimonial">“This English module really helps and guides me to improve on the skill using the proper methods. The module are separated into 4 different  topics  which are reading, listening, speaking and writing. We have a good lecturer, Mrs Emiliza to guide us on how to master the soft skill and to prepare for final exam. She provided us a lot of practice and gave good explanation during the classes as well. All these skills can be applied in our daily job and increase the communication skill with the outside people.”</p>
<p>Rohana Ahmad (Advanced Diploma Student from Texas Instruments)</p>
{% endblock %}
