{% extends "base.html" %}
{% block content %}
<h1>Training Programmes</h1>
<p>I encourage the practice of a <a href="http://www.onestopenglish.com/support/methodology/teaching-approaches/teaching-approaches-the-negotiated-syllabus/146497.article">negotiated syllabus</a> in Kudos&rsquo; training programmes. This means providing training based on your organisation&rsquo;s needs, the trainees&rsquo; skill levels and their opinions on what they need to learn.</p>
<p>The following summarises the types of courses Kudos provides to various types of organisations. For detailed course outlines, please <a href="#contact">get in touch</a> and I'll provide more information.</p>
<h3>Corporate:</h3>
<ul>
    <li>Public Speaking.</li>
    <li>Presentation Skills.</li>
    <li>Business Communication.</li>
    <li>English Communication.</li>
</ul>
<h3>School Children and Students:</h3>
<ul>
    <li>Phonetics and Stress.</li>
    <li>English Communication.</li>
    <li>Course-specific Tutoring (<a href="#tuition-by-emi">more information below</a>).</li>
</ul>
<h3>General:</h3>
<ul>
    <li>Translation and Editing.</li>
</ul>

<a name="tuition-by-emi"></a>
<h2>Course-specific Tutoring</h2>
<p>I have also been providing tuition services for students for several years via <a href="http://tuitionbyemi.com/">TuitionByEmi.com</a>. For more information on our tutoring service, please refer to this site.</p>

<h2>Course Outcomes</h2>
<p>I aim to make course participants:</p>
<ul>
    <li>competent and proficient in delivering ideas and opinions.</li>
    <li>effortlessly fluent and accurate in communication.</li>
    <li>poised and confident in sharing information and ideas through presentation, public speaking and face-to-face communication.</li>
    <li>comprehend a good grasp of the English language.</li>
</ul>
{% endblock %}
