{% extends "base.html" %}
{% block content %}
<h1>Training Program</h1>
<p>With KUDOS English Training, we practise negotiated syllabus in all our training programs. This means we provide training based on the client’s needs; based on proficiency, ability, accuracy and skill level of the trainees. Constructive and productive learning process and knowledge are our top priority in making sure all our participants achieve the learning objectives at the end of the day.</p>
<h2>Corporate:</h2>
<ul>
    <li>Public Speaking</li>
    <li>Presentation Skills</li>
    <li>Business Communication</li>
    <li>English Communication</li>
</ul>
<h2>Children:</h2>
<ul>
    <li>Phonetics and stress</li>
    <li>English Communication</li>
</ul>
<h2>General:</h2>
<ul>
    <li>Personal Team Building</li>
    <li>Corporate Team Building</li>
    <li>Translation and Editing</li>
</ul>
<h2>Course Outcomes</h2>
<p>We aim to make course participants:</p>
<ul>
    <li>competent and proficient in delivering ideas and opinions.</li>
    <li>effortlessly fluent and accurate in communication.</li>
    <li>poised and confident in sharing information and ideas through presentation, public speaking and face-to-face communication.</li>
    <li>comprehend a good grasp of the English language.</li>
</ul>
{% endblock %}
